---
title: Variables
short_title: variables
next_content_short: if
previous_content_short: none
---


== Terms

<ul class="list-inline list-group">
    {#    <li>development environment</li>#}
    <li class="list-inline-item list-group-item">variable</li>
    <li class="list-inline-item list-group-item">int</li>
    <li class="list-inline-item list-group-item">double</li>
    <li class="list-inline-item list-group-item">boolean</li>
    <li class="list-inline-item list-group-item">comment</li>
    <li class="list-inline-item list-group-item">string</li>
    <li class="list-inline-item list-group-item">print</li>
    {#    <li class="list-inline-item list-group-item">assignment</li>#}
    <li class="list-inline-item list-group-item">expression</li>
    <li class="list-inline-item list-group-item">concatenation</li>
</ul>


== Classes

<ul>
    <li><a href="https://docs.oracle.com/javase/7/docs/api/java/lang/String.html">String</a></li>
    <li><a href="https://docs.oracle.com/javase/7/docs/api/java/lang/System.html">System</a></li>
</ul>


{#== Development Environment#}
{##}
{#IDE's, text editors, and the command line [oh my]#}


== Variables

{% load staticfiles %}

<a href="{% static "courses/115Slides/1-Variables.pptx" %}">Variables Concept Slides</a>
<br/><br/>

Syntax:
<pre>
    int myFirstVariable;
    myFirstVariable = 7;
</pre>
<pre>
    int myFirstVariable = 7;
</pre>

<p>
    Both examples have the same result and follow these three steps
</p>
<ol>
    <li><b>int</b> - Create a variable of type int</li>
    <li><b>myFirstVariable</b> - name the variable myFirstVariable</li>
    <li><b>= 7</b> - Store the value 7 in the new variable</li>
</ol>

<br/>
General structure:
<pre>
    [type] [name];
    [name] = [value];
</pre>
<pre>
    [type] [name] = [value];
</pre>
<br/>

<ul>
    <li>A program can have many variables</li>
    <li>Only 1 variable per name</li>
    <li>Names cannot contain spaces. Use camelCase</li>
    <li>Start names with a lowercase letter</li>
    <li>Variables can be reassigned different values</li>
</ul>

<hr/>

<p>Supplementary source:</p>
<ul>
    <li><a href="https://en.wikipedia.org/wiki/Variable_(computer_science)">Wikipedia: Variables</a></li>
</ul>

{#No keywords#}

{#Variable used many times and need to change the value? No worries! Only change the value once in the code.#}


== Variable Types

<p>
    Every variable in java must have a type. A variable can only stores values matching its type.
</p>

<dl>
    <dt>int</dt>
    <dd>Stores integer values (whole numbers). Can store values that are negative, positive, or 0.</dd>
    <dt>double</dt>
    <dd>Stores numbers with decimals (ex. 3.1415). Can store values that are negative, positive, or 0. Some precision
        is lost so int is used if only whole numbers are needed.
    </dd>
    <dt>String</dt>
    <dd>Stores text values. Text values must be provided in "double quotes" to be a string(ex. "115" is a String, 115
        is an int).
    </dd>
    <dt>boolean</dt>
    <dd>Can only be true or false. Will be used extensively for control flow.</dd>
</dl>


<p>There are many more variable types in java. We will stick with these 4 for now.</p>

<pre>
    int items = 3;
    double price = 19.95;
    String salesPitch = "Buy one get two free! *additional charges may apply";
    boolean goodDeal = false;
</pre>


== Printing to the console

<ul>
    <li>When you want to communicate with the human user</li>
    <li>Can print any String to the console</li>
    <li>Printing a variable will automatically convert a copy of its value to a String</li>
</ul>

Syntax:
<pre>
    System.out.println("Hello World!");
</pre>

<p>
    Will print <kbd>Hello World!</kbd> to the console.
</p>

<p>
    Printing the value of a variable:
</p>

<pre>
    String hello;
    hello = "Hello World!";
    System.out.println(hello);
</pre>

<p>
    Same output as he previous example.
</p>


{#We can even do math here.#}
{##}
{#System.out.println(5+6);#}
{##}
{#Ok.. so you're not that impressed.. Let's keep going.#}


{#What are we doing here? Everything you run on your computer is software.#}
{#Word processors, spell check, every app on your phone, your operating system, email,#}
{#web browsers and the servers that provide sites, the IDE you'll be using, PowerPoint (or whatever I'm using for this).#}

{#Software has changed the world and how we interact with it. [Try going 1 day without using any software]#}

{#Where did all this software come from? People like you wrote it all. Let's learn how it's done!#}

{#But first, we need some fundamentals. We'll start with an empty black box called "the console" where we can display#}
{#text. This is where all the software began. and it is where our story will begin.#}


== Comments


<pre>
    //
</pre>
<pre>
    /**/
</pre>

<pre>
    int age;

    // This line will be ignored the computer
    /*
      Comments allow us to leave notes for each other in our code.
      The computer will ignore all this text
    */

    age = 18;

    // Comments are used to describe the code
    // The following line displays the value of age to the user
    System.out.println(age);
</pre>


== Expressions

{#{% load staticfiles %}#}
{##}
{#<a href="{% static "courses/115Slides/1-Expressions.pptx" %}">Expression Concept Slides</a>#}
{#<br/><br/>#}

<p>
    An expressions is a portion of code that evaluates to a single value.
</p>

<pre>
    int x = 7;
    int y = 5;
    int z = x + y;
    System.out.println(z);
</pre>

<p>
    Output: <kbd>12</kbd>
</p>

<p>
    In this example the expression <code>x + y</code> is an expression that is evaluated to a single value which is
    stored in the int variable named z.
</p>

<hr/>

<pre>
    int x = 9;
    int z;
    z = (x - 3) * 7;
    System.out.println(z);
</pre>

<p>
    Output: <kbd>42</kbd>
</p>

<p>
    Here <code>(x - 3) * 7</code> is also an expression since it evaluates to a single value. Expressions can be use to
    combine any number of values into a single value. When using int or double we can perform arithmetic operations in
    the expressions (+, -, *, /).
</p>
<br/>

<p>
    To evaluate <code>z = (x - 3) * 7;</code> the following steps are executed by the computer.
</p>
<ol>
    <li><code>z = (x - 3) * 7;</code> Replace all variable names with their stored values</li>
    <li><code>z = (9 - 3) * 7;</code> Evaluate the sub-expression inside the parenthesis first</li>
    <li><code>z = 6 * 7;</code> Finish evaluating the expression on the right side of the equal sign</li>
    <li><code>z = 42;</code> Store the single resulting value in the variable named z</li>
    <li><code>42;</code> The assignment of z is also an expression as it returns the value being stored</li>
    <li>Execution is complete and the program moves to the next line of code</li>
</ol>

<ul>
    <li>Expressions evaluate to a single value</li>
    <li>Since expressions evaluate to a single value, they can be used wherever a value can be used</li>
</ul>


{##}
{#Order of Operations (At least mention)#}
{##}
{##}
{#Statement. Ends with a semicolon#}
<hr/>

<p>Supplementary sources:</p>
<ul>
    <li><a href="https://en.wikipedia.org/wiki/Expression_(computer_science)">Wikipedia: Expression</a></li>
    <li><a href="https://docs.oracle.com/javase/tutorial/java/nutsandbolts/expressions.html">Javadocs: Expressions,
        Statements, and Blocks</a></li>
</ul>

== String Concatenation

<p>
    String Concatenation (combination) is an expression that combines multiple String values using the + operator.
</p>

<pre>
    System.out.println("hello " + "world");
</pre>

<p>
    Output: <kbd>hello world</kbd>
</p>

<hr/>

<pre>
    String example = "hello";
    String result;
    result = example + " " + "world";
    System.out.println(result);
</pre>

<p>
    Output: <kbd>hello world</kbd>
</p>

<p>
    We combined 3 separate String values into a single String value and stored it in a variable called result. The value
    "hello" was recovered from the variable named example and concatenated with the values " " and "world" to create the
    String value "hello world" which is the value stored in result.
</p>

<ol>
    <li><code>result = example + " " + "world";</code> Replace all variable names with their stored values</li>
    <li><code>result = "hello" + " " + "world";</code> Evaluate each concatenation from left to right</li>
    <li><code>result = "hello " + "world";</code></li>
    <li><code>result = "hello world";</code> Store the single resulting value in the variable named result</li>
    <li><code>"hello world";</code> The assignment of result is also an expression as it returns the value being stored</li>
    <li>Execution is complete and the program moves to the next line of code</li>
</ol>

== Program Structure

{#What's all that extra text in our assignments?#}
{##}
{#Everything is a class in java, but we're pretending this isn't true for the time being. We won't formally define classes#}
{#until week 7.#}
{##}
{#Control flow starts with the main method.#}
{##}
{#We'll use static methods. These can be called from main which will help you test your submissions locally.#}
{##}
{#It all starts in main. You can, and should, call your methods from main for testing.#}

<pre>
    public class LectureExample{

        public static void Q1(){
            String message = "I was called from main";
            System.out.println("Message from Q1: " + message);
        }

        public static void main(String[] args){
            Q1();
        }

    }
</pre>

<p>
    Output: <kbd>Message from Q1: I was called from main</kbd>
</p>

<p>
    When the above program is ran execution starts with the code inside main. There is only one line of code in main
    which tells the computer to run the code in Q1 which print a message to the screen. Once the code is Q1 is
    executed, the computer returned to main to look for more code to run. It instead finds the end of main and
    program stops.
</p>

== Next Steps

<p>If you are craving more depth on variables, check out Dan Starner's next steps tutorial (
    <a href="http://cse115-next-steps.herokuapp.com/">http://cse115-next-steps.herokuapp.com/</a>) and attend his live
    tutorial Tuesday, February 7 @ 2pm in Davis 338A.</p>
<p></p>