{% extends "base.html" %}
{% load  render_as_template %}

{% block title %} {{ course.course_number }}: {{ course.course_title }} {% endblock %}
{#{% block corner_title %}{{ course.course_number }}{% endblock %}#}
{% block corner_title %}{{ course.course_number }}{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <!--<li><a href="?">Home</a></li>-->
        {#                <li><a href="{% url 'lecture:index' %}">Index</a></li>#}
        {#                <li><a href="{% url 'lecture:detail' '5' %}">Question</a></li>#}
        {#        <li><a href="{% url 'courses:syllabus' course.course_number %}">Syllabus</a></li>#}
        {#        <li><a href="{% url 'courses:schedule' course.course_number %}">Schedule</a></li>#}
        {#        <li><a href="{% url 'courses:assistance' course.course_number %}">Office Hours</a></li>#}
        {#        <li><a href="{% url 'courses:resources' course.course_number %}">Resources</a></li>#}

        {% for extra in extras %}
            <li>
                <a href="{% url 'courses:extra' course.course_number extra.short_title %}">{{ extra.title }}</a>
            </li>
        {% endfor %}

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown"
               href="{% url 'courses:course_home' course.course_number %}">Points<span
                    class="caret"></span></a>
            <ul class="dropdown-menu">
                {#                <li><a href="{% url 'courses:autolab' course.course_number %}"> Autolab</a></li>#}
                <li><a href="https://autograder.cse.buffalo.edu/courses/cse115-s17/assessments" target="_blank">
                    Autolab</a></li>
                {% for lesson in assignments %}
                    {% if forloop.counter0 < 1 or course.course_number != "CSE115" %}
                        <li>
                            <a href="{% url 'courses:assignment' course.course_number lesson.short_title %}">{{ lesson.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>


        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown"
               href="{% url 'courses:course_home' course.course_number %}">Concepts<span
                    class="caret"></span></a>
            <ul class="dropdown-menu">

                {#            <li><a href="{% url 'courses:qa' course.course_number %}"> Questions</a></li>#}
                <li><a href="https://fury.cse.buffalo.edu/questions/index.php" target="_blank"> Questions</a></li>
                {% for lesson in lectures %}
                    {% if forloop.counter0 < 5 or course.course_number != "CSE115" %}
                        <li>
                            <a href="{% url 'courses:lecture' course.course_number lesson.short_title %}">{{ lesson.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>

        {#        <li><a href="{% url 'courses:autolab' course.course_number %}">Autolab</a></li>#}
        {#        <li><a href="{% url 'courses:qa' course.course_number %}">Questions</a></li>#}
        <li><a href="https://autograder.cse.buffalo.edu/courses/cse115-s17/assessments" target="_blank">Autolab</a></li>
        <li><a href="https://fury.cse.buffalo.edu/questions/index.php" target="_blank">Questions</a></li>


        {% if course.course_project == True %}
            <li><a href="{% url 'courses:projects' course.course_number %}">Projects</a></li>
        {% endif %}

        <!--<li class="dropdown">-->
        <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">Homework<span class="caret"></span></a>-->
        <!--<ul class="dropdown-menu">-->
        <!--<li><a href="?homework/hw0.html">HW0</a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--<li><a href="?resources.html">Resources</a></li>-->
        <!--<li><a href="?Piazza.html">Piazza</a></li>-->
    </ul>

{% endblock %}

{% block left_sidebar %}
    <div class="left-side-bar">
        <div class="well sidebar-well">
            <!--<button onclick="hide_bars(); return false;">Hide Sidebars</button>-->
            <!--<li><a href="#" onclick="hide_bars(); return false;">Hide</a></li>-->
            <h4>&nbsp;{{ course.course_number }}</h4>
            {#            &nbsp; <a class="menu_link" href="{% url 'courses:syllabus' course.course_number %}"> Syllabus</a><br/>#}
            {#            &nbsp; <a class="menu_link" href="{% url 'courses:schedule' course.course_number %}"> Schedule</a>#}
            {#            <br/>#}
            {#            &nbsp; <a class="menu_link" href="{% url 'courses:assistance' course.course_number %}"> Office Hours</a>#}
            {#            <br/>#}
            {#            &nbsp; <a class="menu_link" href="{% url 'courses:resources' course.course_number %}"> Resources</a>#}
            {#            <br/>#}
            {% for extra in extras %}
                &nbsp;<a class="menu_link"
                         href="{% url 'courses:extra' course.course_number extra.short_title %}"> {{ extra.title }}</a>
                <br/>
            {% endfor %}
            <h4>&nbsp;Earn Points</h4>
            {#            &nbsp;<a class="menu_link" href="{% url 'courses:autolab' course.course_number %}"> Autolab</a>#}
            &nbsp;<a class="menu_link" href="https://autograder.cse.buffalo.edu/courses/{{ course.course_number }}-s17/assessments"
                     target="_blank"> Autolab</a>
            <br/>

            {% for assignment in assignments %}
                {% if forloop.counter0 < 1 or course.course_number != "CSE115" %}
                    &nbsp;<a class="menu_link"
                             href="{% url 'courses:assignment' course.course_number assignment.short_title %}">
                    <!--&#x2022;--> {{ assignment.title }}</a><br/>
                {% else %}
                    &nbsp; {{ assignment.title }}<br/>
                {% endif %}
            {% endfor %}

            <h4>&nbsp;Learn Concepts</h4>

            {#            &nbsp;<a class="menu_link" href="{% url 'courses:qa' course.course_number %}"> Questions</a><br/>#}
            &nbsp;<a class="menu_link" href="https://fury.cse.buffalo.edu/questions/index.php" target="_blank">
            Questions</a><br/>
            {% for lecture in lectures %}
                {% if forloop.counter0 < 5 or course.course_number != "CSE115" %}
                    &nbsp;<a class="menu_link"
                             href="{% url 'courses:lecture' course.course_number lecture.short_title %}">
                    {{ forloop.counter }}. {{ lecture.title }}</a><br/>
                {% else %}
                    &nbsp; {{ forloop.counter }}. {{ lecture.title }}<br/>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block right_sidebar %}
    {#    <div class="right-side-bar">#}
    {#        <div class="well sidebar-well">#}
    {##}
    {#            <form action="{% url 'courses:comment_form' course.course_number %}" method="post">#}
    {#                {% csrf_token %}#}
    {#                <input type="password" id="PasswordInput" name="PasswordInput" autofocus spellcheck="true"/>#}
    {#                {{ form }}#}
    {#                <input type="submit" value="Submit"/>#}
    {#            </form>#}
    {##}
    {#            {% for comment in all_comments %}#}
    {#                <div class="well question-well">#}
    {#                                    {{ comment.name }} |#}
    {#                                    :{{ comment.time_submitted.minute }} |#}
    {#                                    :{{ comment.time_submitted.time }} |#}
    {#                {% if comment.answered %}#}
    {#                    <div class="comment_text" style="font-size: 11px; color: #aaaaaa;">#}
    {#                {% else %}#}
    {#                    <div class="comment_text" style="font-size: 11px; color: #000000;">#}
    {#                {% endif %}#}
    {##}
    {#            <div class="row" style="width: 100%">#}
    {#                <div class="col-xs-2">#}
    {##}
    {#                    {% if comment.answered %}#}
    {#                        <span class="glyphicon glyphicon-ok-circle" style="font-size: 22px; color: #aaaaaa;"></span>#}
    {#                    {% else %}#}
    {#                        <a href="{% url 'courses:comment_answered' course.course_number comment.comment_id %}"#}
    {#                           title="This has been answered or is irrelevant.">#}
    {#                            <span class="glyphicon glyphicon-ok-circle pull-left"#}
    {#                                  style="font-size: 22px; color: #156ad2;"></span></a>#}
    {#                    {% endif %}#}
    {##}
    {#                </div>#}
    {#                <div class="col-xs-10">#}
    {#                    {{ comment.comment_text }}#}
    {##}
    {#                    <div class="comment_time" style="font-size: 9px; color: #999999;">#}
    {#                        <br/>#}
    {#                        <b>{{ comment.time_submitted }}</b></div>#}
    {#                </div>#}
    {#            </div>#}
    {#            </div>#}
    {#            </div>#}
    {#            {% endfor %}#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}


{#{% block content %}#}
{#    <div class="well lecture-section-well">#}
{#        <h1>{{ this_lesson.title }}</h1>#}
{#        <!--<a href="{% url 'courses:index' %}">Lessons</a>-->#}
{#    </div>#}
{##}
{#    {% block extra %}{% endblock %}#}
{#    {% for section in this_lesson.section_set.all %}#}
{##}
{#        <div class="well lecture-section-well">#}
{#            <h3>{{ section.sectionTitle }}</h3>#}
{#            {% render_as_template section.content %}#}
{#    {{ section.content | safe }}#}
{##}
{#        </div>#}
{#    {% endfor %}#}
{#{% endblock %}#}