{% load staticfiles %}
<html>
<head>
    <title>{% block title %}CSE{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'courses/UBStylin.css' %}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'courses/favicon.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/vs.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{% static 'courses/functions.js' %}"></script>
    <script>
        {#        var bars = true;#}
        {##}
        {#        function toggle_bars() {#}
        {#            if (bars) {#}
        {#                hide_bars();#}
        {#            } else {#}
        {#                show_bars();#}
        {#            }#}
        {#        }#}

        {#        function hide_bars() {#}
        {#            document.getElementById("left_sidebar").className = "hidden";#}
        {#            document.getElementById("right_sidebar").className = "hidden";#}
        {#            document.getElementById("center_content").className = "col-sm-12 padded";#}
        {#            bars = false;#}
        {#        }#}
        {##}
        {#        function show_bars() {#}
        {#            document.getElementById("left_sidebar").className = "col-sm-2 less-padding";#}
        {#            document.getElementById("right_sidebar").className = "col-sm-2 less-padding";#}
        {#            document.getElementById("center_content").className = "col-sm-8 less-padding";#}
        {#            bars = true;#}
        {#        }#}
        {##}
        {##}
        {#        function no_left_bar() {#}
        {#            document.getElementById("left_sidebar").className = "hidden";#}
        {#            document.getElementById("right_sidebar").className = "col-sm-3 less-padding";#}
        {#            document.getElementById("center_content").className = "col-sm-9";#}
        {#            bars = true;#}
        {#        }#}

        //        function hide_question_bar() {
        //            document.getElementById("left_sidebar").className = "col-sm-2 less-padding";
        //            document.getElementById("right_sidebar").className = "hidden";
        //            document.getElementById("center_content").className = "col-sm-10 less-padding";
        //        }
    </script>
    <script>
        function loadVideo(element, youTube) {
            element.innerHTML = "<iframe class=\"embed-responsive-item\" src=\"https://www.youtube.com/embed/" + youTube + "?autoplay=1\" allowfullscreen></iframe>";
        }
    </script>
</head>


<body class="outer">


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#theNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {#            <a class="navbar-brand" href="{% url 'lecture:index' %}">CSE442</a>#}

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="{% url 'courses:index' %}">
                        {% block corner_title %}Courses{% endblock %}</a>
                    <ul class="dropdown-menu">
                        {% for course in all_courses %}
                            <li>
                                <a href="{% url 'courses:syllabus' course.course_number %}">{{ course.course_number }}: {{ course.course_title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="theNavbar">

            {% block navbar %}{% endblock %}

            {#            <ul class="nav navbar-nav navbar-right">#}
            {#                <li><a href="#" onclick="toggle_bars(); return false;">Sidebars</a></li>#}
            {#            </ul>#}
        </div>
    </div>
</nav>

<div class="container-fluid">

    {% block body %}
        <div class="row">
        <div id="left_sidebar" class="hidden-xs col-sm-2 less-padding">
            {% block left_sidebar %}
            {% endblock %}
        </div>


        <div id="center_content" class="col-xs-12 col-sm-10 less-padding">
            <div class="content-area">
                {% block content %}{% endblock %}
            </div>
        </div>


        {#            <div id="right_sidebar" class="col-sm-2 less-padding">#}
        {% block right_sidebar %}
            {#                    <div class="right-side-bar">#}
            {#                        <div class="well sidebar-well">#}
            {#                        </div>#}
            {#                    </div></div>#}
        {% endblock %}
        {#        </div>#}
    {% endblock %}
    </div>

</body>
</html>