{% extends "base.html" %}

{% block body %}


    <h1>Jesse Hartloff</h1>



    Computer Science and Engineering - Assistant Teaching Professor<br/>
    <a href="http://www.cse.buffalo.edu/">University at Buffalo</a> <br/>
    Advisor: <a href="http://www.cse.buffalo.edu/~atri/">Atri Rudra</a> <br/>
    344 Davis Hall<br/>

    <script language=javascript>
        var text = "email: ";
        var extension = "edu";
        var user = "hartloff";
        var domain = "buffalo";
        var address = user + "@" + domain + "." + extension;
        document.write(address)
    </script>

{% endblock %}