{% extends "base.html" %}

{% block title %} {{ this_lesson.title }} {% endblock %}

{% block content %}
    <div class="well">
        <h1>{{ this_lesson.title }}</h1>
        <a href="{% url 'lecture:index' %}">Lessons</a>
    </div>
    <div class="well">
        {% for section in this_lesson.section_set.all %}
            <h3>{{ section.sectionTitle }}</h3>
            <p>
                {{ section.content |safe }}
            </p>
            <br/>
            <hr/><br/>
        {% endfor %}
    </div>
{% endblock %}