ul.plain {
    list-style-type: none;
}

div.hidden {
    width: 0;
}

/*div.comment_time{*/
    /*font-size: 3px;*/
    /*color: #777777;*/
/*}*/


div.sidebar-well {
    border-radius: 0;
    padding: 5px;
    overflow: auto;
}

div.question-well {
    padding: 3px;
    margin: 5px;
    /*border-radius: 0;*/
    overflow: auto;
}

/*.glyphicon {*/
    /*font-size: 10px;*/
    /*!*vertical-align: 0;*!*/
    /*}*/


div.padded {
    padding-left: 5%;
    padding-right: 5%;
}

div.right-side-bar {
    /*color: #ffffff;*/
    /*background-color: #155db9;*/
    width: 16.7%;
    /*width: 22%;*/
    /*width: 100%;*/
    padding-left: 5px;
    position: fixed;
    height: calc(100% - 32px);
    overflow: auto;
}

div.left-side-bar {
    /*color: #ffffff;*/
    /*background-color: #155db9;*/
    /*width: 100%;*/
    /*padding: 2px;*/
    width: 16.7%;
    padding-right: 5px;
    position: fixed;
    height: calc(100% - 32px);
    overflow: auto;
}

div.lecture-section-well{
    border-radius: 0;
    /*padding: 10px;*/
    margin: 10px 5px;
}

div.content-area {
    height: calc(100% - 32px);
    /*background-color: white;*/
}

div.less-padding{
    padding: 0;
    /*margin: 0;*/
}

/*li.list {*/
    /*margin-top: 10px;*/
/*}*/

/*.table-skinny {*/
    /*width: auto;*/
/*}*/

kbd {
    /*color:#00cc00;*/
    color: #c4c4c4;
    background-color: #202020;
}

/*code{*/
/*color: #155db9;*/
/*background-color: #f4f7f7;*/
/*}*/

/*.well > .code-well{*/
/*background: #f4f7f7;*/
/*}*/

code {
    color: #f5f5f5;
    /*background-color: #030089;*/
    background-color: #155db9;
}

.well > .code-well {
    font-weight: bold;
    background: #155db9;
}

.well {
    background: white;
    /*background: #fafafa;*/
}

.outer-well {
    border: 1px solid black;
}

.panel > .panel-heading {
    background-color: #0300b9;
    /*background-color: #156ad2;*/
    color: #ffffff;
}

div.header {
    text-align: center;
    background-color: #156ad2;
    color: #ffffff;
}

body.outer {
    /*background-color: #1591ff;*/
    background-color: #f4f7f7;
    /*background-color: #252525;*/
    /*background-color: #000000;*/
}

a.menu_link{
    text-decoration: none;
    /*color: #e7e7e7;*/
}

html.outer, body.outer {
    /*height: 100%;*/
    /*overflow:hidden;*/
}

/*iframe.primary {*/
    /*position: absolute;*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/

.navbar-default {
    border-radius: 0;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

/*.midalign {*/
    /*text-align: center;*/
/*}*/

/*#immovable {*/
/*position: fixed;*/
/*top: 0;*/
/*left: 0;*/
/*width: 100%;*/
/*z-index: 1;*/
/*}*/

/*.positioning {*/
/*position: absolute;*/
/*top: 72px;*/
/*left: 365px;*/
/*}*/

/*.zindexhead {*/
/*z-index: 0;*/
/*}*/

/*ul.resources {*/
/*font-size: 2em;*/
/*}*/

/*th {*/
/*text-align: center;*/
/*}*/

/*textarea {*/
/*font-size: 21px;*/
/*}*/

body {
    padding-top: 50px;
    /*margin-bottom: -65px;*/
    /*position: relative;*/
}

/*.tab {*/
/*margin-left: 40px;*/
/*}*/

/*img.center {*/
    /*align: center;*/
/*}*/

/*#home:hover {*/
    /*color: transparent*/
/*}*/

/*#home:hover .containsText {*/
    /*display: none;*/
/*}*/


/* navbar colors generated by
http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0
with modifications */

.navbar-default {
    background-color: #030089;
    border-color: #030089;
    /*background-color: #000080;*/
    /*border-color: #000080;*/
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #eeeeee;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #e0e0e0;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #156ad2;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #e0e0e0;
    background-color: #030089;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #156ad2;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #156ad2;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #156ad2;
}

.navbar-default .navbar-toggle {
    border-color: #156ad2;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #156ad2;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #156ad2;
    }
}